@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: IBM Plex Sans;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.75rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #fafafa !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #fafafa !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #c7c7c7 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #fafafa;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #fafafa;
  border-color: #fafafa;
  color: #878787;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #fafafa;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #fafafa !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #fafafa;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #fafafa;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #fafafa;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #fafafa;
  border-bottom-color: #fafafa;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #fafafa !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23fafafa' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-s48MCQYojq {
  background-image: url("../../../assets/images/mbr-1920x1202.jpg");
}
.cid-s48MCQYojq .mbr-section-title {
  text-align: center;
  color: #47b5ed;
}
.cid-s48MCQYojq .mbr-text,
.cid-s48MCQYojq .mbr-section-btn {
  color: #232323;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-s48MCQYojq .mbr-section-title,
  .cid-s48MCQYojq .mbr-section-btn,
  .cid-s48MCQYojq .mbr-text {
    text-align: center;
  }
}
.cid-slUaPqxr7j {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #22a5e5;
}
@media (min-width: 1500px) {
  .cid-slUaPqxr7j .container {
    max-width: 1400px;
  }
}
.cid-slUaPqxr7j .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #ffffff;
  margin-bottom: 2rem;
}
.cid-slUaPqxr7j .card-wrapper {
  margin-top: 3rem;
}
.cid-slUaPqxr7j .row {
  justify-content: center;
}
.cid-slUaPqxr7j .mbr-section-title {
  color: #ffffff;
}
.cid-slUaPqxr7j .card-text {
  color: #ffffff;
}
.cid-slUaPqxr7j .card-title,
.cid-slUaPqxr7j .iconfont-wrapper {
  color: #ffffff;
}
.cid-s48OLK6784 {
  z-index: 1000;
  width: 100%;
}
.cid-s48OLK6784 nav.navbar {
  position: fixed;
}
.cid-s48OLK6784 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown-menu {
  padding: 0;
}
.cid-s48OLK6784 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .dropdown-item:hover,
.cid-s48OLK6784 .dropdown-item:focus {
  background: #fafafa !important;
  color: white !important;
}
.cid-s48OLK6784 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-s48OLK6784 .nav-link {
  position: relative;
}
.cid-s48OLK6784 .container {
  display: flex;
  margin: auto;
}
.cid-s48OLK6784 .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-s48OLK6784 .navbar-caption {
  padding-right: 4rem;
}
.cid-s48OLK6784 .dropdown-menu,
.cid-s48OLK6784 .navbar.opened {
  background: #22a5e5 !important;
}
.cid-s48OLK6784 .nav-item:focus,
.cid-s48OLK6784 .nav-link:focus {
  outline: none;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s48OLK6784 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s48OLK6784 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s48OLK6784 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s48OLK6784 .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #22a5e5;
}
.cid-s48OLK6784 .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-s48OLK6784 .navbar.opened {
  transition: all .3s;
}
.cid-s48OLK6784 .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-s48OLK6784 .navbar .navbar-logo img {
  width: auto;
}
.cid-s48OLK6784 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-s48OLK6784 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-s48OLK6784 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-s48OLK6784 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-s48OLK6784 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-s48OLK6784 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-s48OLK6784 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-s48OLK6784 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-s48OLK6784 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-s48OLK6784 .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-s48OLK6784 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-s48OLK6784 .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-s48OLK6784 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-s48OLK6784 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-s48OLK6784 .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-s48OLK6784 .navbar.navbar-short {
  min-height: 60px;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-s48OLK6784 .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-s48OLK6784 .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-s48OLK6784 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-s48OLK6784 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-s48OLK6784 .dropdown-item.active,
.cid-s48OLK6784 .dropdown-item:active {
  background-color: transparent;
}
.cid-s48OLK6784 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-s48OLK6784 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #22a5e5;
}
.cid-s48OLK6784 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-s48OLK6784 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s48OLK6784 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-s48OLK6784 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-s48OLK6784 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-s48OLK6784 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-s48OLK6784 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-s48OLK6784 .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-s48OLK6784 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s48OLK6784 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-s48OLK6784 .navbar {
    height: 77px;
  }
  .cid-s48OLK6784 .navbar.opened {
    height: auto;
  }
  .cid-s48OLK6784 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-slUbGbsHsl {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #4479d9;
}
.cid-slUbGbsHsl .media-container-row .mbr-text {
  color: #ffffff;
}
.cid-slUxI6Roqq {
  padding-top: 8rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/mbr-3-1920x1280.jpg");
}
.cid-slUxI6Roqq .card .card-header {
  background-color: transparent;
  margin-bottom: 0;
}
.cid-slUxI6Roqq .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-slUxI6Roqq .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #fafafa;
}
.cid-slUxI6Roqq .panel-body,
.cid-slUxI6Roqq .card-header {
  padding: 1rem 0;
}
.cid-slUxI6Roqq .panel-title-edit {
  color: #ffffff;
}
.cid-slUxI6Roqq H3 {
  color: #ffffff;
}
.cid-slUxI6Roqq .panel-text {
  color: #ffffff;
}
.cid-slUwEkeHrw {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #22a5e5;
}
@media (min-width: 1500px) {
  .cid-slUwEkeHrw .container {
    max-width: 1400px;
  }
}
.cid-slUwEkeHrw .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #cac2c2;
  margin-bottom: 2rem;
}
.cid-slUwEkeHrw .card-wrapper {
  margin-top: 3rem;
}
.cid-slUwEkeHrw .row {
  justify-content: center;
}
.cid-slUwEkeHrw .mbr-section-title {
  color: #ffffff;
}
.cid-slUwEkeHrw .card-text {
  color: #ffffff;
}
.cid-slUwEkeHrw .card-title,
.cid-slUwEkeHrw .iconfont-wrapper {
  color: #ffffff;
}
.cid-slUwElhWVy {
  z-index: 1000;
  width: 100%;
}
.cid-slUwElhWVy nav.navbar {
  position: fixed;
}
.cid-slUwElhWVy .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-slUwElhWVy .dropdown-menu {
  padding: 0;
}
.cid-slUwElhWVy .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-slUwElhWVy .dropdown-item:hover,
.cid-slUwElhWVy .dropdown-item:focus {
  background: #fafafa !important;
  color: white !important;
}
.cid-slUwElhWVy .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-slUwElhWVy .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-slUwElhWVy .nav-link {
  position: relative;
}
.cid-slUwElhWVy .container {
  display: flex;
  margin: auto;
}
.cid-slUwElhWVy .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-slUwElhWVy .navbar-caption {
  padding-right: 4rem;
}
.cid-slUwElhWVy .dropdown-menu,
.cid-slUwElhWVy .navbar.opened {
  background: #22a5e5 !important;
}
.cid-slUwElhWVy .nav-item:focus,
.cid-slUwElhWVy .nav-link:focus {
  outline: none;
}
.cid-slUwElhWVy .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-slUwElhWVy .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-slUwElhWVy .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-slUwElhWVy .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-slUwElhWVy .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-slUwElhWVy .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-slUwElhWVy .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #22a5e5;
}
.cid-slUwElhWVy .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-slUwElhWVy .navbar.opened {
  transition: all .3s;
}
.cid-slUwElhWVy .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-slUwElhWVy .navbar .navbar-logo img {
  width: auto;
}
.cid-slUwElhWVy .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-slUwElhWVy .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-slUwElhWVy .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-slUwElhWVy .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-slUwElhWVy .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-slUwElhWVy .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-slUwElhWVy .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-slUwElhWVy .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-slUwElhWVy .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-slUwElhWVy .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-slUwElhWVy .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-slUwElhWVy .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-slUwElhWVy .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-slUwElhWVy .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-slUwElhWVy .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-slUwElhWVy .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-slUwElhWVy .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-slUwElhWVy .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-slUwElhWVy .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-slUwElhWVy .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-slUwElhWVy .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-slUwElhWVy .navbar.navbar-short {
  min-height: 60px;
}
.cid-slUwElhWVy .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-slUwElhWVy .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-slUwElhWVy .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-slUwElhWVy .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-slUwElhWVy .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-slUwElhWVy .dropdown-item.active,
.cid-slUwElhWVy .dropdown-item:active {
  background-color: transparent;
}
.cid-slUwElhWVy .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-slUwElhWVy .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-slUwElhWVy .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-slUwElhWVy .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #22a5e5;
}
.cid-slUwElhWVy .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-slUwElhWVy .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-slUwElhWVy ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-slUwElhWVy .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-slUwElhWVy button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-slUwElhWVy button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-slUwElhWVy button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-slUwElhWVy button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-slUwElhWVy button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-slUwElhWVy button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-slUwElhWVy nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-slUwElhWVy nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-slUwElhWVy nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-slUwElhWVy nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-slUwElhWVy .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-slUwElhWVy a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-slUwElhWVy .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-slUwElhWVy .navbar {
    height: 77px;
  }
  .cid-slUwElhWVy .navbar.opened {
    height: auto;
  }
  .cid-slUwElhWVy .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-slUwEmc0Vo {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-slUwEmc0Vo .media-container-row .mbr-text {
  color: #ffffff;
}
.cid-sm1qot3bsO {
  padding-top: 7rem;
  padding-bottom: 5rem;
  background-color: #47b5ed;
}
.cid-sm1qot3bsO .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sm1qot3bsO form.mbr-form {
  border-radius: 10px;
  background-color: #fafafa;
}
@media (min-width: 992px) {
  .cid-sm1qot3bsO form.mbr-form {
    padding: 3rem 2rem;
    width: 60%;
  }
}
@media (max-width: 991px) {
  .cid-sm1qot3bsO form.mbr-form {
    padding: 1rem;
  }
}
.cid-sm1qot3bsO form.mbr-form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-sm1qot3bsO form.mbr-form .mbr-section-btn .btn {
  width: 100%;
}
.cid-sm1qot3bsO .mbr-section-title {
  color: #ffffff;
}
.cid-sm1qot3bsO P {
  color: #47b5ed;
}
.cid-slVo4oyyXQ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #47b5ed;
}
@media (max-width: 767px) {
  .cid-slVo4oyyXQ .row {
    flex-direction: column-reverse;
  }
  .cid-slVo4oyyXQ .row .map-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-slVo4oyyXQ .google-map {
  height: 100%;
  position: relative;
}
.cid-slVo4oyyXQ .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-slVo4oyyXQ .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-slVo4oyyXQ .google-map[data-state] {
  background: #e9e5dc;
}
.cid-slVo4oyyXQ .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-slVo4oyyXQ .image-wrapper {
  display: flex;
  align-items: center;
}
.cid-slVo4oyyXQ .card-wrapper {
  display: flex;
  border-radius: 4px;
  background: #9fdbf8;
}
.cid-slVo4oyyXQ .card-wrapper:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .cid-slVo4oyyXQ .card-wrapper {
    padding: 1rem 2rem;
  }
}
@media (min-width: 992px) {
  .cid-slVo4oyyXQ .card-wrapper {
    padding: 2rem 4rem;
  }
}
.cid-slVo4oyyXQ .mbr-iconfont {
  font-size: 2rem;
  padding-right: 1.5rem;
  color: #fafafa;
}
.cid-slVo4oyyXQ .card-title {
  color: #ffffff;
}
.cid-slVnOormVJ {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #22a5e5;
}
@media (min-width: 1500px) {
  .cid-slVnOormVJ .container {
    max-width: 1400px;
  }
}
.cid-slVnOormVJ .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #fafafa;
  margin-bottom: 2rem;
}
.cid-slVnOormVJ .card-wrapper {
  margin-top: 3rem;
}
.cid-slVnOormVJ .row {
  justify-content: center;
}
.cid-slVnOormVJ .mbr-section-title {
  color: #ffffff;
}
.cid-slVnOormVJ .card-title,
.cid-slVnOormVJ .iconfont-wrapper {
  color: #ffffff;
}
.cid-slVnOormVJ .card-text {
  color: #ffffff;
}
.cid-slVnOpwwMR {
  z-index: 1000;
  width: 100%;
}
.cid-slVnOpwwMR nav.navbar {
  position: fixed;
}
.cid-slVnOpwwMR .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-slVnOpwwMR .dropdown-menu {
  padding: 0;
}
.cid-slVnOpwwMR .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-slVnOpwwMR .dropdown-item:hover,
.cid-slVnOpwwMR .dropdown-item:focus {
  background: #fafafa !important;
  color: white !important;
}
.cid-slVnOpwwMR .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-slVnOpwwMR .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-slVnOpwwMR .nav-link {
  position: relative;
}
.cid-slVnOpwwMR .container {
  display: flex;
  margin: auto;
}
.cid-slVnOpwwMR .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-slVnOpwwMR .navbar-caption {
  padding-right: 4rem;
}
.cid-slVnOpwwMR .dropdown-menu,
.cid-slVnOpwwMR .navbar.opened {
  background: #22a5e5 !important;
}
.cid-slVnOpwwMR .nav-item:focus,
.cid-slVnOpwwMR .nav-link:focus {
  outline: none;
}
.cid-slVnOpwwMR .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-slVnOpwwMR .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-slVnOpwwMR .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-slVnOpwwMR .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-slVnOpwwMR .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-slVnOpwwMR .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-slVnOpwwMR .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #22a5e5;
}
.cid-slVnOpwwMR .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-slVnOpwwMR .navbar.opened {
  transition: all .3s;
}
.cid-slVnOpwwMR .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-slVnOpwwMR .navbar .navbar-logo img {
  width: auto;
}
.cid-slVnOpwwMR .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-slVnOpwwMR .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-slVnOpwwMR .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-slVnOpwwMR .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-slVnOpwwMR .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-slVnOpwwMR .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-slVnOpwwMR .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-slVnOpwwMR .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-slVnOpwwMR .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-slVnOpwwMR .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-slVnOpwwMR .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-slVnOpwwMR .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-slVnOpwwMR .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-slVnOpwwMR .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-slVnOpwwMR .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-slVnOpwwMR .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-slVnOpwwMR .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-slVnOpwwMR .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-slVnOpwwMR .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-slVnOpwwMR .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-slVnOpwwMR .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-slVnOpwwMR .navbar.navbar-short {
  min-height: 60px;
}
.cid-slVnOpwwMR .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-slVnOpwwMR .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-slVnOpwwMR .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-slVnOpwwMR .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-slVnOpwwMR .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-slVnOpwwMR .dropdown-item.active,
.cid-slVnOpwwMR .dropdown-item:active {
  background-color: transparent;
}
.cid-slVnOpwwMR .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-slVnOpwwMR .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-slVnOpwwMR .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-slVnOpwwMR .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #22a5e5;
}
.cid-slVnOpwwMR .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-slVnOpwwMR .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-slVnOpwwMR ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-slVnOpwwMR .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-slVnOpwwMR button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-slVnOpwwMR button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-slVnOpwwMR button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-slVnOpwwMR button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-slVnOpwwMR button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-slVnOpwwMR button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-slVnOpwwMR nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-slVnOpwwMR nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-slVnOpwwMR nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-slVnOpwwMR nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-slVnOpwwMR .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-slVnOpwwMR a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-slVnOpwwMR .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-slVnOpwwMR .navbar {
    height: 77px;
  }
  .cid-slVnOpwwMR .navbar.opened {
    height: auto;
  }
  .cid-slVnOpwwMR .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-slVnOqvZHe {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-slVnOqvZHe .media-container-row .mbr-text {
  color: #ffffff;
}
.cid-sm1sbmPzu8 {
  padding-top: 10rem;
  padding-bottom: 5rem;
  background: #6ec7f2;
}
.cid-sm1sbmPzu8 .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-sm1sbmPzu8 .plan-body {
  padding-bottom: 2rem;
}
.cid-sm1sbmPzu8 .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-sm1sbmPzu8 .price {
  color: #fafafa;
}
.cid-sm1sbmPzu8 .plan {
  word-break: break-word;
  background-color: #ffffff;
}
.cid-sm1sbmPzu8 .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
.cid-sm1sbmPzu8 .plan .list-group-item::after {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.cid-sm1sbmPzu8 .plan .list-group-item:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .cid-sm1sbmPzu8 .plan {
    margin-bottom: 2rem;
  }
}
.cid-sm1r33a8Ka {
  z-index: 1000;
  width: 100%;
}
.cid-sm1r33a8Ka nav.navbar {
  position: fixed;
}
.cid-sm1r33a8Ka .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sm1r33a8Ka .dropdown-menu {
  padding: 0;
}
.cid-sm1r33a8Ka .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sm1r33a8Ka .dropdown-item:hover,
.cid-sm1r33a8Ka .dropdown-item:focus {
  background: #fafafa !important;
  color: white !important;
}
.cid-sm1r33a8Ka .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-sm1r33a8Ka .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sm1r33a8Ka .nav-link {
  position: relative;
}
.cid-sm1r33a8Ka .container {
  display: flex;
  margin: auto;
}
.cid-sm1r33a8Ka .iconfont-wrapper {
  color: #ffffff !important;
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-sm1r33a8Ka .navbar-caption {
  padding-right: 4rem;
}
.cid-sm1r33a8Ka .dropdown-menu,
.cid-sm1r33a8Ka .navbar.opened {
  background: #22a5e5 !important;
}
.cid-sm1r33a8Ka .nav-item:focus,
.cid-sm1r33a8Ka .nav-link:focus {
  outline: none;
}
.cid-sm1r33a8Ka .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sm1r33a8Ka .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sm1r33a8Ka .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-sm1r33a8Ka .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sm1r33a8Ka .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sm1r33a8Ka .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sm1r33a8Ka .navbar {
  min-height: 77px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  background: #22a5e5;
}
.cid-sm1r33a8Ka .navbar:not(.navbar-short) {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sm1r33a8Ka .navbar.opened {
  transition: all .3s;
}
.cid-sm1r33a8Ka .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-sm1r33a8Ka .navbar .navbar-logo img {
  width: auto;
}
.cid-sm1r33a8Ka .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sm1r33a8Ka .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sm1r33a8Ka .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sm1r33a8Ka .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-sm1r33a8Ka .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sm1r33a8Ka .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sm1r33a8Ka .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-sm1r33a8Ka .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sm1r33a8Ka .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-sm1r33a8Ka .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-sm1r33a8Ka .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sm1r33a8Ka .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sm1r33a8Ka .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sm1r33a8Ka .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sm1r33a8Ka .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-sm1r33a8Ka .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-sm1r33a8Ka .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sm1r33a8Ka .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sm1r33a8Ka .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sm1r33a8Ka .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sm1r33a8Ka .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-sm1r33a8Ka .navbar.navbar-short {
  min-height: 60px;
}
.cid-sm1r33a8Ka .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-sm1r33a8Ka .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-sm1r33a8Ka .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sm1r33a8Ka .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sm1r33a8Ka .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sm1r33a8Ka .dropdown-item.active,
.cid-sm1r33a8Ka .dropdown-item:active {
  background-color: transparent;
}
.cid-sm1r33a8Ka .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sm1r33a8Ka .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sm1r33a8Ka .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sm1r33a8Ka .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #22a5e5;
}
.cid-sm1r33a8Ka .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sm1r33a8Ka .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sm1r33a8Ka ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sm1r33a8Ka .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sm1r33a8Ka button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-sm1r33a8Ka button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: currentColor;
}
.cid-sm1r33a8Ka button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-sm1r33a8Ka button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-sm1r33a8Ka button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-sm1r33a8Ka button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-sm1r33a8Ka nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sm1r33a8Ka nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-sm1r33a8Ka nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-sm1r33a8Ka nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-sm1r33a8Ka .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-sm1r33a8Ka a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sm1r33a8Ka .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sm1r33a8Ka .navbar {
    height: 77px;
  }
  .cid-sm1r33a8Ka .navbar.opened {
    height: auto;
  }
  .cid-sm1r33a8Ka .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sm1uAj5Pzl {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #9fdbf8;
}
.cid-sm1uAj5Pzl .socicon-bg-facebook {
  background: #1778f2;
  color: #ffffff;
}
.cid-sm1uAj5Pzl .socicon-bg-facebook:hover {
  background: #0b60cb;
}
.cid-sm1uAj5Pzl .socicon-bg-twitter {
  background: #1da1f2;
  color: #ffffff;
}
.cid-sm1uAj5Pzl .socicon-bg-twitter:hover {
  background: #0c85d0;
}
.cid-sm1uAj5Pzl .socicon-bg-vkontakte {
  background: #4680C2;
  color: #ffffff;
}
.cid-sm1uAj5Pzl .socicon-bg-vkontakte:hover {
  background: #3567a0;
}
.cid-sm1uAj5Pzl .socicon-bg-odnoklassniki {
  background: #ee8208;
  color: #ffffff;
}
.cid-sm1uAj5Pzl .socicon-bg-odnoklassniki:hover {
  background: #bd6706;
}
.cid-sm1uAj5Pzl .socicon-bg-pinterest {
  background: #e60023;
  color: #ffffff;
}
.cid-sm1uAj5Pzl .socicon-bg-pinterest:hover {
  background: #b3001b;
}
.cid-sm1uAj5Pzl .socicon-bg-mail {
  background: #005ff9;
  color: #ffffff;
}
.cid-sm1uAj5Pzl .socicon-bg-mail:hover {
  background: #004cc6;
}
.cid-sm1uAj5Pzl .btn-social {
  font-size: 32px;
  border-radius: 50%;
  padding: 0;
  width: 55px;
  height: 55px;
  line-height: 55px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: none !important;
}
.cid-sm1uAj5Pzl .btn-social i {
  top: 0;
  line-height: 55px;
  width: 55px;
}
.cid-sm1uAj5Pzl [class^="socicon-"]:before,
.cid-sm1uAj5Pzl [class*=" socicon-"]:before {
  line-height: 55px;
}
.cid-sm1r34gRQU {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-sm1r34gRQU .media-container-row .mbr-text {
  color: #ffffff;
}
